<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.netease.nim.chatroom.demo">

    <!-- 聊天室权限声明 -->

    <!-- 访问网络状态-->
 <!--   <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    &lt;!&ndash; 控制呼吸灯，振动器等，用于新消息提醒 &ndash;&gt;
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.VIBRATE" />
    &lt;!&ndash; 外置存储存取权限 &ndash;&gt;
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    &lt;!&ndash; 多媒体相关 &ndash;&gt;
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    &lt;!&ndash; 直播权限声明 &ndash;&gt;

    &lt;!&ndash; 允许挂载和反挂载文件系统 &ndash;&gt;
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    &lt;!&ndash; 允许程序创建显示在其他程序之上，并且类型为TYPE_SYSTEM_ALERT的窗体 &ndash;&gt;
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    &lt;!&ndash; 允许程序使用PowerManager WakeLocks以防止处理器休眠或者屏幕锁屏 &ndash;&gt;
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    &lt;!&ndash; 配置一个程序用于调试 &ndash;&gt;
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    &lt;!&ndash; 声明程序使用camera和自动对焦功能 &ndash;&gt;
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    &lt;!&ndash; 声明程序使用OpenGL ES 2.0 &ndash;&gt;
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application>

        <meta-data
            android:name="com.netease.nim.appKey"
			android:value="45c6af3c98409b18a84451215d0bdd6e" />

        <uses-library
            android:name="com.google.android.maps"
            android:required="false" />

        &lt;!&ndash; IM &ndash;&gt;
        <activity
            android:name=".im.activity.WelcomeActivity"
            android:configChanges="keyboardHidden|orientation"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/WelcomeEntranceActionBarTheme"
            android:windowSoftInputMode="adjustPan">
        </activity>

        <activity
            android:name=".im.activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        &lt;!&ndash; entertainment &ndash;&gt;

        <activity
            android:name=".entertainment.activity.MainActivity"
            android:label="@string/my_classes"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".entertainment.activity.IdentifyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".entertainment.activity.LiveModeChooseActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".entertainment.activity.AboutActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".entertainment.activity.AudienceActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustNothing" />

        <activity
            android:name=".entertainment.activity.LiveActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustNothing" />

        <activity
            android:name=".entertainment.activity.EnterRoomActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity android:name=".entertainment.activity.InputActivity"
            android:theme="@style/InputActivityTheme"
            android:windowSoftInputMode="stateUnspecified|adjustResize" />

        &lt;!&ndash; end entertainment &ndash;&gt;

        &lt;!&ndash; 声明云信后台服务 &ndash;&gt;
        <service
            android:name="com.netease.nimlib.service.NimService"
            android:process=":core" />

        <service
            android:name="com.netease.nimlib.service.NimService$Aux"
            android:process=":core" />

        &lt;!&ndash; 云信SDK的监视系统启动和网络变化的广播接收器，用户开机自启动以及网络变化时候重新登录 &ndash;&gt;
        <receiver
            android:name="com.netease.nimlib.service.NimReceiver"
            android:exported="false"
            android:process=":core">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        &lt;!&ndash; 云信进程间通信receiver &ndash;&gt;
        <receiver android:name="com.netease.nimlib.service.ResponseReceiver" />
        &lt;!&ndash; 云信进程间通信service &ndash;&gt;
        <service android:name="com.netease.nimlib.service.ResponseService" />
    </application>
-->
</manifest>
